/*
 * Search styles
 */

.search__header {
  margin: 8px 16px;
  padding: 0;
  font-size: 1.3em;
}

.search__list {
  background-color: #fff;
}

.search__item-case,
.search__item-document {
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
  padding: 16px 24px;
  border-top: solid 1px $background-color;
}

.search__item__info {
  height: 100%;
  flex-grow: 1;
}

.search__item__icon {
  width: auto;
  margin-right: 8px;
  height: 100%;
}

.search__item__title {
  font-weight: 400;
  margin: 0;
  font-size: 1.1em;
}

.search__item__title .muted {
  font-size: 0.8em;
}

.search__item__bonusinfo {
  float: right;
  width: auto;
}

.search__item__desc {
  margin: 0;
}

.search__item__changed {
  float: right;
  width: auto;
  font-size: 0.8em;
}

/*
 * View search results as table list
 */

.list-search {
  table {
    max-width: 100%;
  }
  th {
    border-top: solid 1px $header-color;
  }
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td:first-child {
    padding-left: 24px;
  }
  td:last-child {
    padding-right: 24px;
  }
}

/*
 * Search filter menu styles
 */

.menu {
  background-color: $background-color;
}
