#pre-export,
#export {
    background-color: $background-color;
}

.pre-export__list {
    overflow: auto;
}

.pre-export__list__row {
    border-top: solid 1px $background-color;
    padding: 4px 0;
}

.pre-export__list__row:first-child {
    border-top: none;
}

.pre-export__list__item {
    overflow: hidden;
}

.export__content {
    text-align: center;
}

md-progress-linearmd-progress-linear {
    box-sizing: border-box;
}