#pre-export,
#export {
    background-color: #eee;
}

.pre-export__list {
    overflow: auto;
}

.pre-export__list__item {
    overflow: hidden;
}

.export__content {
    text-align: center;
}

md-progress-linearmd-progress-linear {
    box-sizing: border-box;
}