.profile-list {
    
    .active,
    .active button.md-no-style,
    .active button.md-no-style:hover {
        background-color: #fff;
    }
    .active:after {
        content: '';
        display: inline-block;
        border: solid 1.5em #eee;
        border-left-color: transparent;
    }
}