.profile-list {
    
    .active,
    .active button.md-no-style,
    .active button.md-no-style:hover {
        background-color: #fff;
    }
    
    md-list-item {
        border-bottom: dashed 1px #fff;
    }
}

.profile-btn {
    text-align: left;
    text-transform: capitalize;
}