.profile-list {
    
    .active,
    .active button.md-no-style,
    .active button.md-no-style:hover {
        background-color: #fff;
    }
    
    md-list-item {
        border-top: solid 1px #ddd;
    }
}

.profile-btn {
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
}