.repview__title .md-subhead {
    margin: $u $u*0.5 0;
}

.od-filebrowser-breadcrumb {
    margin: 0;
    background-color: #eee;
    font-size: $u*0.9;
    padding: 0 $u*0.25;
  
    a,
    a:link,
    a:visited {
        display: inline-block;
        padding: $u*0.5 0 $u*0.5 $u*0.25;
        cursor: pointer;
        color: rgb(33,150,243);
    }
    a:hover,
    a:active {
        color: rgba(33,150,243, 0.66);
    }
    a:before {
        display: inline-block;
        content: '/';
        padding-right: $u*0.125;
    }
    a:last-child {
        cursor: default;
        color: #000;
    }
}

.tlist {
    
    .tlist__header {
        .tlist__cell {
            color: #999;
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }
    
    .tlist__body {
        
    }
    
    .tlist__item__link {
        
    }
    
    .tlist__cell {
        padding: $u*0.25;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        &.muted {
            color: #999;
        }
    }
}
