<div layout="column" class="erms_sub_menu">
    
    <div layout="row nowrap" layout-align="flex-start end">
        <h1 class="md-title">
            {{ 'ERMS.HEADER.LABEL' | translate }}:
            <span style="color: #999;">{{ 'ERMS.HEADER.BYLINE' | translate }}</span>
        </h1>
    </div>
    
    <nav layout="row nowrap" class="erms-tabs">
        <div ng-class="{'active':emc.currently === 'repos'}" ng-click="emc.currently = 'repos'">
            <md-button ui-sref="erms.repos">{{ 'ERMS_PROFILES.REPOSITORIES.LABEL' | translate }}</md-button>
        </div>
        <div ng-class="{'active':emc.currently === 'mapfi'}" ng-click="emc.currently = 'mapfi'">
            <md-button ui-sref="erms.mapfiles">{{ 'ERMS_MAPS.MAPPINGS.LABEL' | translate }}</md-button>
        </div>
    </nav>
    
    <div ui-view="erms"></div>
    
</div>