<div id="pre-export" layout="column" layout-fill>
    
    <md-toolbar class="md-hue-2 repo-view__toolbar">
        <div class="md-toolbar-tools">
        
            <md-button class="md-icon-button" onclick="window.history.go(-1);">
                <i class="material-icons">arrow_back</i>
            </md-button>
            
            <span>{{ 'ERMS_EXPORT.ITEMS' | translate }}</span>
            
            <span flex></span>
                    
        </div>
    </md-toolbar>
    
    <md-card class="pre-export__list" flex>
    
        <md-card-content>
    
            <div layout="column">
                
                <div ng-show="rxc.exportItems">
                    <div ng-repeat="item in rxc.exportItems" layout="row" layout-align="space-between center">
                        
                        <div>
                            <img class="md-avatar" ng-src="app/assets/images/filetypes/{{item.thumbNailURL}}" alt="">
                            {{item.name}}
                            <div class="muted">({{item.path}})</div>
                        </div>
                        
                        <md-button ng-click="rxc.removeItem(item)">
                            {{ 'COMMON.REMOVE' | translate }}
                        </md-button>
                        
                    </div>
                </div>
                
                <div ng-if="rxc.exportItems.length == 0" class="empty_file_list muted">
                    <i class="material-icons">insert_drive_file</i>
                    {{"COMMON.EMPTY" | translate}}
                </div>
                
            </div>
            
        </md-card-content>
    
    </md-card>
    
    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="rxc.initExport();" ng-disabled="false">
                {{ 'ERMS_EXPORT.EXPORT' | translate }}
        </md-button>
    </div>

</div>