<md-dialog aria-label="">
    <form ng-model="stdc.xmlFile" ng-submit="stdc.upload()">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>Upload template XML</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding layout-margin>
            <label>{{ 'ERMS_EXPORT.DIALOG.LABELS.EAD_FILE' | translate }}: </label>
            <input type="file" name="file" file-model="stdc.eadFile.file" required>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="stdc.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
            <md-button class="md-primary" type="submit" aria-label="Save profile edits">
                {{ 'COMMON.UPLOAD' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>