<div id="repo-view" layout="column" layout-fill>
    
    <md-toolbar class="md-hue-2 repo-view__toolbar">
        <div class="md-toolbar-tools">
            
            <md-button ui-sref="erms.repos" class="md-icon-button">
                <i class="material-icons">arrow_back</i>
            </md-button>
            
            <span>{{ rvc.profileName }}</span>
            
            <span flex></span>
            
            <md-button ui-sref="erms.repos.searchRepo({ profileName: rvc.profileName, mapName: rvc.mapName })"
                class="md-icon-button"
                ng-disabled="true">
                <i class="material-icons">search</i>
            </md-button>
        </div>
    </md-toolbar>
    
    <div class="repo-view__breadcrumb" layout-padding>
        <nav class="od-filebrowser-breadcrumb">
            <a ng-repeat="crumb in rvc.breadcrumbs" ng-click="rvc.gotoCrumb($index)">{{crumb.name}}</a>
            <span ng-if="$last" class="active">{{crumb.name}}</span>
        </nav>
    </div>
    
    <div layout="column" flex layout-padding class="repo-view__list">
        
        <div ng-if="rvc.repo.children.length === 0"
            class="empty_file_list muted md-subhead"
            layout="column"
            layout-align="center center">
            {{ "COMMON.EMPTY" | translate }}
        </div>
        
        <div ng-if="rvc.repo.children.length !== 0" class="tlist">
            <div class="tlist__header" layout="row">
                <div class="tlist__cell" flex sort-table="title">{{ 'COMMON.TITLE' | translate }}</div>
                <div hide class="tlist__cell" flex="10" sort-table="creator.fullName">
                    {{ 'COMMON.CREATEDBY' | translate }}
                </div>
                <!-- might not be convenient to sort if multiple owner -->
                <div hide class="tlist__cell" flex="10" sort-table="created">
                    {{ 'COMMON.CREATED' | translate }}
                </div>
                <div hide class="tlist__cell" flex="10" sort-table="modified">
                    {{ 'COMMON.MODIFIED_BY' | translate }}
                </div>
                <div hide class="tlist__cell" flex="10" sort-table="lastModificationDate">
                    {{ 'COMMON.MODIFIED' | translate }}
                </div>
                <div class="tlist__cell" flex="20" style="text-align: center;">
                    {{ 'SELECT' | translate }}
                </div>
            </div>
            <div class="tlist__body" ng-if="rvc.repo.children.length > 0">
                <div ng-repeat="item in rvc.repo.children | orderObjectBy:orderByAttribute:reverseOrder"
                    layout="column"
                    flex>
                    <!--class="tlist__item {{ item.locked ? 'muted' : '' }}" ng-disabled="item.locked">-->
                    <div class="tlist__item__link"
                        style="cursor: pointer"
                        ng-click="rvc.getItem(item)"
                        layout="row">
                        <span class="tlist__cell" flex>
                            <img class="md-avatar" alt="" ng-src="app/assets/images/filetypes/{{item.thumbNailURL}}">
                            {{item.name}}
                            <span class="muted" ng-show="rvc.isFile(item)">
                                ({{item.displaySize}})
                            </span>
                        </span>
                        <span hide class="tlist__cell muted" flex="10">{{ item.createdBy }}</span>
                        <span hide class="tlist__cell muted" flex="10">{{ item.creationDate }}</span>
                        <span hide class="tlist__cell muted" flex="10">{{ item.lastModifiedBy }}</span>
                        <span hide class="tlist__cell muted" flex="10">{{ item.lastModificationDate }}</span>
                        <span class="tlist__cell muted" flex="20" style="text-align: center;">
                            <md-checkbox ng-show="item.exportable" ng-click="rvc.selectItemForExport(item); $event.stopPropagation();" ng-checked="item.selected" aria-label="Check for export"></md-checkbox>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-disabled="rvc.exportItemsLength === 0" ui-sref="erms.pre-export">
            {{ 'ERMS_EXPORT.REVIEW' | translate}}
            <span class="export-btn-label" ng-hide="rvc.exportItemsLength === 0">{{ rvc.exportItemsLength }}</span>
        </md-button>    
    </div>
    
</div>