<div layout="row" class="repview__title" layout-align="space-between center">
    <h2 class="md-subhead">{{ rvc.profileName }} <span style="color: #999;">{{ 'DOCUMENT.DOCUMENTS' | translate }}</span></h2>
    <md-button class="md-raised md-primary" ng-disabled="rvc.repo.length === 0" ui-sref="erms.export">{{ 'COMMON.NEXT' | translate }}: {{ 'ERMS_EXPORT.REVIEW' | translate}}</md-button>
</div>

<md-card>

    <div class="repo-docs__nav window">
        <nav class="od-filebrowser-breadcrumb">
            <a ng-repeat="crumb in rvc.breadcrumbs" ng-click="rvc.gotoCrumb($index)">{{crumb.name}}</a>
            <span ng-if="$last" class="active">{{crumb.name}}</span>
        </nav>
    </div>

    <md-card-content>

        <div layout="column">
            <div class="tlist">
                <div class="tlist__header" layout="row">
                    <div class="tlist__cell" flex sort-table="title">{{ 'COMMON.TITLE' | translate }}</div>
                    <div class="tlist__cell" flex="10" sort-table="creator.fullName">{{ 'COMMON.CREATEDBY' | translate
                        }}
                    </div>
                    <!-- might not be convenient to sort if multiple owner -->
                    <div class="tlist__cell" flex="10" sort-table="created">{{ 'COMMON.CREATED' | translate }}
                    </div>
                    <div class="tlist__cell" flex="10" sort-table="modified">{{ 'COMMON.MODIFIED_BY' | translate }}
                    </div>
                    <div class="tlist__cell" flex="10" sort-table="lastModificationDate">{{ 'COMMON.MODIFIED' |
                        translate }}
                    </div>
                    <div class="tlist__cell" flex="10"></div>
                </div>
                <md-virtual-repeat-container class="tlist__body" md-auto-shrink flex-height
                                             ng-if="rvc.repo.children.length > 0">
                    <div md-virtual-repeat="item in rvc.repo.children | orderObjectBy:orderByAttribute:reverseOrder"
                         layout="column" flex>
                        <!--class="tlist__item {{ item.locked ? 'muted' : '' }}" ng-disabled="item.locked">-->
                        <div class="tlist__item__link" style="cursor: pointer"
                             ng-click="rvc.getItem(item)" layout="row">
                            <span class="tlist__cell" flex>
                                <img class="md-avatar" alt="" ng-src="app/assets/images/filetypes/{{item.thumbNailURL}}">
                                {{item.name}} <span class="muted" ng-show="rvc.isFile(item)">
                                    ({{item.displaySize}})
                                </span>
                            </span>
                            <span class="tlist__cell muted" flex="10"> {{item.createdBy}} </span>
                            <span class="tlist__cell muted" flex="10">{{ item.creationDate }}</span>
                            <span class="tlist__cell muted" flex="10">{{ item.lastModifiedBy  }}</span>
                            <span class="tlist__cell muted" flex="10">{{ item.lastModificationDate  }}</span>
                            <span class="tlist__cell muted" flex="10">
                                <md-checkbox ng-show="item.exportable" ng-click="rvc.selectItemForExport(item); $event.stopPropagation();" ng-checked="item.selected" aria-label="Check for export"></md-checkbox>
                            </span>
                        </div>
                    </div>
                </md-virtual-repeat-container>
                <div ng-if="rvc.repo.children.length == 0" class="empty_file_list muted">
                    <i class="material-icons">insert_drive_file</i><br>
                    {{"COMMON.EMPTY" | translate}}
                </div>
            </div>
        </div>
    </md-card-content>

</md-card>