<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button ui-sref="erms.repos" class="md-icon-button">
            <i class="material-icons">arrow_back</i>
        </md-button>
        <h1 class="md-title">
            {{ 'ERMS_MAPS.MAPPINGS.LABEL' | translate }}
        </h1>
    </div>
</md-toolbar>

<div layout="column" layout-padding id="mapfiles">
    
    <div layout="column" layout-align="center center" layout-align-gt-md="center start">
        <p ng-show="!emfc.mapfiles || emfc.mapfiles.length === 0">{{ 'ERMS_MAPS.MAPPINGS.NO_MAP_FILES' | translate }}</p>
    </div>
    
    <div>
        <md-button class="md-primary md-text-icon-button" ng-click="emfc.addMapFile($event)">
            <i class="material-icons ng-scope">add</i>
            {{ 'COMMON.ADD' | translate }} {{ 'ERMS_MAPS.MAPPINGS.DIALOG.LABELS.MAPPING_FILE' | translate }}
        </md-button>
    </div>
    
    <md-list>
        <md-list-item
            class="mapfiles__list__item"
            ng-repeat="mapfile in emfc.mapfiles"
            layout="row"
            layout-align="space-between center"
            style="cursor: default;">
            {{ mapfile.name }}
            <md-button ng-click="emfc.delMapFile($event, mapfile)">{{ 'COMMON.REMOVE' | translate }}</md-button>
        </md-list-item>
    </md-list>
    
</div>