<md-dialog aria-label="Repository connect">
    <form>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>{{ 'ERMS_PROFILES.PROFILES.CONNECT' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding layout-margin>
            <h3>{{ 'ERMS_PROFILES.PROFILES.DIALOG.LABELS.SELECT_ROOT' | translate }}</h3>
            <md-button ng-repeat="root in prdc.profile.repositories" ng-click="prdc.selectRoot(root)">
                {{ root }}
            </md-button>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>