<div id="erms-profile-view"
    layout-gt-sm="row"
    layout-fill>
    
    <div layout="column"
        layout-padding
        layout-align="center center"
        flex
        flex-order-gt-sm="2">
        <p ng-show="!empc.profiles || empc.profiles.length === 0">
            {{ 'ERMS_PROFILES.PROFILES.NO_PROFILES' | translate }}
        </p>
        <p ng-show="empc.profiles.length > 0" class="md-subhead">
            {{ 'ERMS_PROFILES.PROFILES.NO_CONNECTION' | translate }}
        </p>
    </div>
    
    <div id="erms-profile-nav"
        flex-gt-sm="33"
        flex-order-gt-sm="1">
        
        <md-button class="md-primary md-text-icon-button" ng-click="empc.showProfileDialog()">
            <i class="material-icons ng-scope">add</i>
            {{ 'COMMON.ADD' | translate }} {{ 'ERMS_PROFILES.PROFILES.PROFILE_LABEL' | translate }}
        </md-button>
        
        <md-list class="profile-list" flex>
            <md-list-item
                ng-repeat="item in empc.profiles"
                layout="row"
                layout-align="space-between center">
                
                <md-button class="profile-btn" ng-click="empc.showConnectDialog2(item);">{{ item.name }}</md-button>
                
                <md-menu>
                    <md-button
                        aria-label="{{ 'ERMS_PROFILES.PROFILES.PROFILE_ACTIONS' | translate }}"
                        class="md-icon-button"
                        ng-click="$mdOpenMenu($event);">
                        <i class="material-icons">arrow_drop_down</i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="empc.showConnectDialog2(item);">
                                <i class="material-icons">swap_horiz</i>
                                {{ 'ERMS_PROFILES.PROFILES.CONNECT' | translate }}
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="empc.showProfileDialog(item);">
                                <i class="material-icons ng-scope">edit</i>
                                {{ 'COMMON.EDIT' | translate }}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="empc.deleteProfile($event, item);">
                                <i class="material-icons ng-scope">delete</i>
                                {{ 'COMMON.DELETE' | translate }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
        
        <div id="edit-mapfiles-btn">
            <md-button ui-sref="erms.mapfiles"
                class="md-text-icon-button">
                <i class="material-icons">file_upload</i>
                {{ 'ERMS_MAPS.MAPPINGS.LABEL' | translate }}
            </md-button>
        </div>
        
    </div>
    
</div>
