<div layout="row">
    
    <div flex="33">
        <md-button class="md-primary" ng-click="empc.showProfileDialog()"><i class="material-icons ng-scope">add</i> {{ 'COMMON.ADD_NEW' | translate }} {{ 'COMMON.PROFILE' | translate }}</md-button>
        <md-list>
            <md-list-item ng-repeat="item in empc.profiles" ng-click="empc.loadview(item.profileName)">
                <span class="text-muted">{{ item.profileName }}</span>
                <md-button class="md-secondary" ng-click="empc.showProfileDialog(item)"><i class="material-icons ng-scope">edit</i></md-button>
            </md-list-item>
        </md-list>
    </div>
    
    <div flex="66">
        
        <div ui-view="repo-browser"></div>
        
    </div>

</div>
