<div layout="row" style="background-color: #eee;" layout-padding>
    
    <div flex="33">
        <md-button class="md-primary md-text-icon-button" ng-click="empc.showProfileDialog()">
            <i class="material-icons ng-scope">add</i>
            {{ 'COMMON.ADD' | translate }} {{ 'ERMS_PROFILES.PROFILES.PROFILE_LABEL' | translate }}
        </md-button>
        <md-list class="profile-list">
            <md-list-item ng-repeat="item in empc.profiles" ng-click="empc.showConnectDialog1(item)" ng-class="{'active':empc.currently === item.name}">
                <span class="text-muted">{{ item.name }}</span>
                <md-button class="md-secondary" ng-click="empc.showProfileDialog(item);"><i class="material-icons ng-scope">edit</i></md-button>
            </md-list-item>
        </md-list>
    </div>
    
    <div flex="66">
        
        <p ng-show="!empc.profiles || empc.profiles.length === 0">
            {{ 'ERMS_PROFILES.PROFILES.NO_PROFILES' | translate }}
        </p>
        
        <div ui-view="repo-browser"></div>
        
    </div>

</div>
